*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
body{
    font-family: 'Cairo', sans-serif;
    overflow-x: hidden;
}
.container{
    margin: 0;
}
@media (min-width: 1200px) { 
    .container{
        width: 1100px;
    }
}
@media (max-width: 1999px) and (min-width:990px){ 
    .container{
        width: 990px;
    }
}
@media (max-width: 989px) { 
    .container{width: 100%;
        width: 100%;
    }
}

/*Start Clouds Design*/
.clouds{
    overflow: hidden;
    width: 90%;
    height: 200px;
    position: absolute;
    top: 55px;
    right: 51px;
}
.movecloud{
    position: absolute;
    right: 13%;
    animation: movecloud 12s linear infinite both;
}

.Cloud1{
    position: absolute;
    top: 15px;
    right: -40px;
}
.Cloud2{
    position: absolute;
    top: 70px;
    right: 51px;
    
}
.Cloud3{
    position: absolute;
    top: 28px;
    right: 174px;
    
}
.Cloud4{
    position: absolute;
    top: 91px;
    right: 264px;
    
}
.Cloud5{
    position: absolute;
    top: 136px;
    right: 117px;
    
}
.Cloud6{
    position: absolute;
    top: 56px;
    right: -161px;
    
}
.Cloud7{
    position: absolute;
    top: 56px;
    right: 368px;
    
}
.Cloud8{
    position: absolute;
    top: 172px;
    right: 415px;
    
}
.Cloud9{
    position: absolute;
    top: 15px;
    right: -567px;
}
.Cloud10{
    position: absolute;
    top: 70px;
    right: -478px;  
}
.Cloud11{
    position: absolute;
    top: 136px;
    right: -412px;   
}
.Cloud12{
    position: absolute;
    top: 28px;
    right: -353px;   
}
.Cloud13{
    position: absolute;
    top: 91px;
    right: -265px;   
}
.Cloud14{
    position: absolute;
    top: 172px;
    right: -120px;   
}
.cloudShape{
    background-color: #fff8f2;
    width: 40px;
    height: 13px;
    border-radius: 15px;
    position: relative;
}
.cloudShape::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 25px;
    background-color: #fff8f2;
    top: -13px;
    border-radius: 100%;
    right: 5px;
}
.cloudShape::after{
    content: "";
    position: absolute;
    width: 35%;
    height: 15px;
    background-color: #fff8f2;
    top: -8px;
    border-radius: 100%;
    right: 20px;
}
/*End Clouds Design*/
/*Start Title*/
.title{
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: #014134;
    width: fit-content;
    margin: auto;
}
.title::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #B1CEC8;
    bottom: -18px;
}

/*End Title*/
/*Start dotts Pattern*/
.dotts{
    position: absolute;
    width: 200px;
}
.dotts.top{
    top: 15%;
    left: 0;
}
.dotts.bottom{
    bottom: 0;
    right: 0;
}
/*End Dotts Pattern*/
/*Start Header Section*/
.header{
    background-color: #fafafa;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 23%);
    display: flex;
    justify-content: center
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 140px;
}
.logo img{
    width: 100%;
}
.list{
    display: flex;
    align-items: center;
}
.list ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
}
.list ul li{
    position: relative;
    overflow-x: clip;
}
.list ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #014134;
    font-size: 17px;
}
.list ul li::after{
    position:absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #B1CEC8;
    right: 110px;
    bottom: -5px;
    transition: .3s;
}
.list ul li:hover::after{
    right: 0;
}
.menu-burger{
    margin-right: 40px;
}

.menu-burger span{
    width: 34px;
    height: 4px;
    background-color: #014134;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    transition: .3s;
}
.menu-burger span:first-child{
    top:35px;
}
.menu-burger span:last-child{
    top:55px;
}

.menu-burger.active span:first-child{
    transform: rotate(45deg);
    top:45px;
}
.menu-burger.active span:last-child{
    transform: rotate(-45deg);
    top:45px;
}
.menu-burger.active span:not(:first-child):not(:last-child){
    display: none;
}
@media(max-width:1200px){
    .header{
        padding: 10px 20px;
    }
}
@media (min-width: 990px) {
    .menu-burger{
        display: none;
    }
    .landingContent{
        flex-direction: row-reverse;
    }
    .landing{
        height: 640px;
    }
}
@media (max-width: 990px) {
    .list ul{
        flex-direction: column;
    position: fixed;
    top: 74px;
    width: 40%;
    right: -45%;
    text-align: right;
    padding: 20px;
    height: 100%;
    z-index: 101;
    background-color: #fafafa;
    border-top: 1px solid #dfdfdf;
    display: none;
    animation: openmenu .2s forwards;
    }
    .list ul.open{
        display: flex;
        right: 0;
    }
    .list ul li::after{
        display: none;
    }
    .landing{
        height: 1000px;
    }
    .landingContent{
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
    }
    .landingContent .text{
        width: 50%;
        margin-top: 100px;
    }
}
#background{
    background-color: #0000001c;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 90px;
    display: none;
}
/*End Header Section*/
/*Start Landing Section*/
.landing{
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}
.landingBG{
    background-color: #fff8f2;
    position: absolute;
    width: 120%;
    height: 100%;
    border-radius: 0 0 100% 100%;
    bottom: 0;
    right: -110px;
    z-index: -1;
}
.landingContent{
    display: flex;
    padding: 50px 0 0 15px;
    align-items: center;
}
.landingContent .pic{
    width: 550px;
    position: relative;
}

.landingContent .pic img{
    width: 550px;
}
.landingContent .text h1{
    font-size: 50px;
    color: #014134;
}
.landingContent .text p{
    font-size: 21px;
    line-height: 1.7;
    color: #5E5E5E;
}
.landingContent .text p span{
    text-decoration: underline;
    font-weight: bold;
    color: #fd7474;
    font-size: 23px;
}

/*End Landing Section*/
/*Start About Me Section*/
.about{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.skill-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 25px;
    padding: 0 50px;
    margin: 100px auto 0 auto;
}
.skill-box{
    background-color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 #b1cec8;
    position: relative;
    overflow: hidden;
}
.skill-box::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 24%;
    left: 0;
    bottom: -43px;
    background-color: #b1cec8de;
    border-radius: 0 0 5px 5px;
    transition: .3s;
}
.skill-box::after{
    position: absolute;
    content: attr(title);
    width: 100%;
    height: 24%;
    bottom: -60px;
    text-align: center;
    border-radius: 5px;
    color: #014134;
    font-size: 20px;
    transition: .3s;
}
.skill-box:hover::before{
    bottom: 0;
}
.skill-box:hover::after{
    bottom: -7px;
}
.skill-box img{
    width:100%;
    height: 100%;
}
/*End About Me Section*/
/*Start Project Section*/
.project{
    margin-top: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #fff8f2;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 25px;
    margin-top: 100px;
}
.card{
    transition: .3s;
}
.card:hover{
    transform: scale(1.01);
}
.card .text{
    padding: 15px;
}
.card .text .links{
    display: flex;
    gap: 10px;
}
.card .text .links a{
    transition: .3s;
    position: relative;
}

.card .text .links a i{
    font-size: 22px;
    color: #194134;
} 
.card .text .links a:hover i{
    color:#b1cec8;
}
/*End Project Section*/
/*Start Contact Me Section*/
.contact{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
.contact-content{
    padding-top: 100px;
}
/*End Contact Me Section*/
/*Start Footer Section*/
.footer{
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: #002a21;
    padding: 10px 20px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.media {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 15px;
}
.media a{
    text-decoration: none;
}
.media a i{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyrights{
    background-color: #002a21;
    color: white;
    font-weight: lighter;
    margin: 0;
}
/*End Footer Section*/
/*Start Animation Section*/
@keyframes openmenu{
    100%{
        right: 0;
    }
}
@keyframes movecloud {
    0%{
        right: 13%;
        opacity: 0.6;
    }
    25%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.6;
    }
    75%{
        opacity: 0.2;
    }
    100%{
        right: 120%;
        opacity: 0.6;
    }
      
}
